* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
}

.inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.pipelines-panel {
  width: 60rem;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  background-color: #fafafa;
}

.displays-panel {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.display-container {
  position: absolute;
  border-style: solid;
  border-color: #eee;
  border-width: 1;
}

.pipeline-container {
  width: 100%;
  height: 30rem;
}

.pipeline-diagram {
  height: 100%;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.operator-palette {
  min-width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.operator-palette-item {
  font-family: Helvetica, Arial;
  padding: 5px;
  margin: 0px 10px;
  border: solid 2px black;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  color: white;
  background: rgb(0,192,255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.new-pipeline-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.new-pipeline-container-header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  align-items: center;
}

.new-pipeline-container-content {
  display: flex;
  flex-grow: 1;
}

.new-pipeline-container-layer {
  position: relative;
  flex-grow: 1;
}