* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
}

.inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.pipelines-panel {
  width: 60rem;
  height: 100%;
  max-height: 100%;
  max-width: 50%;
  overflow-y: auto;
  background-color: #fafafa;
}

.displays-panel {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.display-container {
  position:relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  border-style: solid;
  border-color: red;
  border-width: 2;
}

.pipeline-container {
  width: 100%;
  height: 30rem;
}

.pipeline-diagram {
  height: 100%;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}
