* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
}

.inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.pipelines-panel {
  width: 60rem;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  background-color: #fafafa;
}

.displays-panel {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.display-container {
  position: absolute;
  border-style: solid;
  border-color: #eee;
  border-width: 1;
}

.pipeline-container {
  width: 100%;
  height: 30rem;
}

.pipeline-diagram {
  height: 100%;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}