[flake8]

# Match the max line length we have set for black
max-line-length = 88

# Explanations for ignoring errors:
#
#   E203: not PEP 8 compliant.
#   W503: when you `ignore`, you must ignore W503 or W504
#       https://stackoverflow.com/questions/65809122
#
ignore: E203,W503
