# https://pre-commit.com
# This GitHub Action assumes that the repo contains a valid .pre-commit-config.yaml file.
name: pre-commit
on: [pull_request, push]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      # Install poetry
      - run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -

      # Install mpich for mpi4py
      - run: sudo apt-get -y install libmpich-dev

      # Install and run pre-commit
      - run: pip install pre-commit
      - run: pre-commit --version
      - run: pre-commit install
      - run: |
          source $HOME/.poetry/env
          ./scripts/poetry/install_all.sh
          pre-commit run --all-files
